<%= form_for @metric, remote:true do |f| %>
  <% if @metric.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@metric.errors.count, "error") %> prohibited this metric from being saved:</h2>

      <ul>
      <% @metric.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div align="center">
  	<h2>Create a Metric</h2>
    <%= f.label :metric_name %><br>
    <%= f.text_field :metric_name %>
  </div>
  <div align="center">
    <%= f.label :weight %><br>
    <%= f.number_field :weight %>
  </div>
  <div class="form-button">
    <%= f.submit %>
  </div>
<% end %>