<% if @campaigns %>
<table id="specialist-campaigns-table" class="display">
<thead>
  <tr>
	<th>Template</th>
	<th>Questions</th>
	<th>Campaigns Using</th>
	<th>Draft</th>
	<th>On Hold</th>
	<th>Submitted For Review</th>
	<th>In Process</th>
	<th>Complete</th>
	<th></th>
	<th></th>
  </tr>
 </thead>
   <tbody>
	<% @campaigns.each do |campaign| %>  
	  <tr>
	  	<td><%= campaign.name %></td>
	  	<td><%= campaign.questions.count %></td>
	  	<td><%= Campaign.where(template_id: campaign.id).count %></td>
	  	<td><%= Campaign.where(template_id: campaign.id, status: "Draft").count %></td>
	  	<td><%= Campaign.where(template_id: campaign.id, status: "On Hold").count %></td>
	  	<td><%= Campaign.where(template_id: campaign.id, status: "Submitted For Review").count %></td>
	  	<td><%= Campaign.where(template_id: campaign.id, status: "In Process").count %></td>
	  	<td><%= Campaign.where(template_id: campaign.id, status: "Complete").count %></td>
		<td><%= link_to "Edit", edit_campaign_path(campaign), class: "edit-btn" %></td>
		<td><%= button_to "Delete", { action: "destroy", controller: "campaigns", id: campaign.id }, method: :delete, data: { confirm: "Are you sure you want to delete this template?" }, remote: true, class: "destroy-btn" %></td>
	  </tr>
	<% end %>
	
   <% else %>
   		<h4 id="nothing-header">You have not made any templates yet.</h4>
   <% end %>
   </tbody>
</table>
