<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vendor.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @vendor.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @vendor.city %>
</p>

<p>
  <strong>Industry:</strong>
  <% @vendor.vtypes.each do |v| %>
  	<%= v.name %>
  <% end %>
</p>

<p>
  <strong>Size:</strong>
  <%= @vendor.size %>
</p>

<%= link_to 'Edit', edit_vendor_path(@vendor) %> |
<%= link_to 'Back', vendors_path %>
