<p id="notice"><%= notice %></p>

<p>
  <strong>Tier:</strong>
  <%= @campaign.tier %>
</p>

<p>
  <strong>Name:</strong>
  <%= @campaign.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @campaign.status %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @campaign.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @campaign.end_date %>
</p>

  <% @campaign.questions.each do |question| %>
  	<% unless question.metric_id.blank? %>
  		<strong>Question: </strong><%= Kpi.find(question.kpi_id).kpi_measurement %></br></br>
  	<% end %>
  <% end %>
<%= link_to 'Edit', edit_campaign_path(@campaign) %> |
<%= link_to 'Back', campaigns_path %>
